<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Activity</title>
</head>

<body>
  <h1>Add a new Activity</h1>
  <form action="/habits/<%=habit%>/activities" method='POST'>
    <h3>Habit: <%=habit.name%></h3>
    <p>Name: <input type="text" name='name' required></p>
    <p>Duration: <input type='number' name='duration' required></p>
    <p>Notes: <input type='text' name='notes'></p>
    <input type="submit" value="Add Habit">
  </form>
</body>

</html>