<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity</title>
</head>

<body>
  <h1>Here is my activity</h1>
  <p>I did <%=activity.name%></p>
  <p>I did it for <%=activity.duration%> minutes</p>
  <p>Here are my notes<%=activity.notes%></p>
  <a href="/activities/<%=activity._id%>/edit">edit this entry</a>
</body>

</html>