<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>STICK-2-IT</title>
</head>

<body class="container">

  <header class="main-header">
    <a href="/" class="logo">
      <img src="img/logo.png" alt="logo">
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </header>

  <section class="home-main">
    <h1 class="title">Welcome to STICK2IT</h1>
    <span class="subtitle">Track your habits and work towards your weekly activity goals!</span>
    <div class="action">
      <a href="/register" class="join-btn">Join Now</a>
    </div>
  </section>
</body>

</html>