<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/pages.css">
  <title>Edit Habit</title>
</head>

<body>
  <h1>Edit habit info</h1>
</body>
<form action="/habits/<%=habit._id%>?_method=PUT" method='POST'>
  <p>Name: <input type="text" name='name' placeholder="<%=habit.name%>" required></p>
  <p>Frequency: <input type='number' name='frequency' placeholder="<%=habit.frequency%>" required></p>
  <input type="submit" value="Update Habit">
</form>

</html>