<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/pages.css">
  <title>New Habit</title>
</head>

<body>
  <h1>Add a new habit</h1>
  <div class="form">
    <form action="/habits" method='POST'>
      <p>
        <input type="text" name='name' required autocomplete="off">
        <label for="name" class="labe-name">
          <span class="content-name">Habit Name</span>
        </label>
      </p>
      <p>
        <input type='number' name='frequency' placeholder="Weekly Freequency" required autocomplete="off">
      </p>
      <input type="submit" value="Add Habit">
    </form>
  </div>
</body>

</html>