<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Habit</title>
</head>

<body>
  <h1>Add a new habit</h1>
  <form action="/habits" method='POST'>
    <p>
      <input type="text" name='name' placeholder="Habit Name" required autocomplete="off">
    </p>
    <p>
      <input type='number' name='frequency' placeholder="Weekly Freequency" required autocomplete="off">
    </p>
    <input type="submit" value="Add Habit">
  </form>
</body>

</html>